include README.txt

recursive-include examples *

include_package_data = True

include DarkCapPy/Configure/PREM500.csv

include DarkCapPy/brtoe.csv

include Template_Calculation

include DarkCapPy_Template.ipynb

include DarkCapPy_Test.ipynb
